/* google fonts link  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* banner part style  */
header {
  margin: 50px 0 120px;
}
.banner {
  background: url("../images/Banner\ Image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000a9;
  background-blend-mode: overlay;
  text-align: center;
  color: #fff;
  padding: 177px 0;
  border-radius: 10px;
  font-family: "Merriweather", serif;
}

.banner .banner-semi-title {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 20px;
}

.banner .banner-title {
  font-size: 72px;
  font-weight: 900;
}

/* promo-&-discount section style  */
.promo-and-discount {
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-bottom: 120px;
}

.promo-and-discount .discount-text {
  color: #ff0000;
  font-size: 88px;
  font-weight: 700;
  padding-bottom: 48px;
}

.promo-and-discount .fig-semi-title {
  color: #ff0000;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
}

.promo-and-discount .fig-title {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 48px;
}

.promo-and-discount figure img {
  width: 100%;
}

/* new-year-party-invention section style  */
.new-year-party-invention {
  margin-bottom: 120px;
}
.new-year-party-invention .new-year-party-theme {
  color: #fff;
  background: url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #0000009a;
  background-blend-mode: overlay;
  padding: 126px 126px 142px;
  border-radius: 10px;
  margin-bottom: 120px;
  text-align: left;
}

.new-year-party-invention .party-title {
  font-size: 64px;
  font-weight: 900;
  font-family: "Merriweather", serif;
  padding-bottom: 24px;
}

.new-year-party-invention .about-party {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  padding-bottom: 48px;
}

.new-year-party-invention .join-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.new-year-party-invention .party-location {
  text-align: center;
  padding: 100px 0 110px;
  font-family: "Inter", sans-serif;
  border-radius: 15px;
  background-image: linear-gradient(#ff00002c, #ff000000);
}

.new-year-party-invention .party-location p {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.new-year-party-invention .party-location p > span {
  color: #ff0000;
}
.new-year-party-invention .party-location .join-btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 5px;
  margin-top: 28px;
  background-color: #ff0000;
}

/* our-offer section styles  */
.our-offer {
  display: flex;
  column-gap: 80px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.our-offer .offer-promo .promo-mini-title {
  color: #ff0000;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}
.our-offer .offer-promo .promo-title {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
  font-family: "Merriweather", serif;
}
.our-offer .offer-promo .about-promo {
  color: #070211bb;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.our-offer .offer-image {
  padding: 50px;
  border: 10px solid #ff0000;
  border-radius: 50%;
}
.our-offer .offer-mini-promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  font-family: "Inter", sans-serif;
}
.our-offer .offer-mini-promo .year-title {
  color: #ff0000;
  font-size: 48px;
  font-weight: 700;
}
.our-offer .offer-mini-promo p {
  color: #0702116c;
  font-size: 20px;
  font-weight: 400;
}

/* advertisement section styles  */
.advertisement {
  margin-bottom: 120px;
}
.advertisement .describe-advertisement {
  text-align: center;
  font-family: "Inter", sans-serif;
}
.advertisement .describe-advertisement .add-mini-title {
  color: #070211;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 18px;
}
.advertisement .describe-advertisement .add-title {
  color: #070211;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
}
.advertisement .describe-advertisement .add-title span {
  color: #ff0000;
}
.advertisement .describe-advertisement .add-text {
  color: #07021167;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 65px;
}
.advertisement .add-images-group {
  position: relative;
  top: 0;
  left: 0;
  height: 650px;
}
.advertisement .add-images-group .women {
  position: absolute;
  top: 15px;
  right: 0;
}
.advertisement .add-images-group .rectangle {
  position: absolute;
  bottom: 0;
  left: 0;
}
.advertisement .add-images-group .discount {
  position: absolute;
  top: 100px;
  right: 290px;
}
.advertisement .add-images-group .box {
  position: absolute;
  bottom: 25px;
  left: 50px;
}
.advertisement .add-images-group .women img,
.advertisement .add-images-group .rectangle img,
.advertisement .add-images-group .discount img {
  width: 100%;
}
.advertisement .add-images-group .box img {
  width: 70%;
}

/* gift-gallery section style  */
.gift-gallery {
  margin-bottom: 120px;
}
.describe-gift .gift-mini-title {
  color: #ff0000;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}
.describe-gift .gift-title {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 22px;
  font-family: "Merriweather", serif;
}
.describe-gift .about-gift {
  color: #07021175;
  width: 80%;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  margin-bottom: 48px;
}
.gift-gallery .gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.gift-gallery .gallery .gallery-items img {
  width: 350px;
  height: 350px;
}
/* subscribe-pallet section style  */
.subscribe-pallet {
  padding: 80px 0;
  border-radius: 10px;
  background-color: #ff00002d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin-bottom: 120px;
}
.subscribe-pallet .pallet-image img {
  width: 100%;
}
.subscribe-pallet .pallet-group-text {
  text-align: center;
}
.subscribe-pallet .pallet-group-text .scribe-title {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 22px;
  font-family: "Merriweather", serif;
}
.subscribe-pallet .pallet-group-text .scribe-text {
  color: #07021175;
  width: 80%;
  margin: 0 auto;
  line-height: 1.7;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
/* .subscribe-pallet .scribe-form {
  position: relative;
} */
.scribe-form #email-Address {
  color: #070211;
  border: none;
  outline: 0;
  height: 35px;
  width: 450px;
  padding: 25px 30px;
  display: inline-block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  border-radius: 35px 0 0 35px;
}

.scribe-form #email-Address::placeholder {
  color: #07021150;
}

.scribe-form #subscribe-submit {
  display: inline-block;
  color: #fff;
  height: 85px;
  width: 200px;
  padding: 24px 56px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  border-radius: 0 35px 35px 0;
  background-color: #ff0000;
  margin-left: -2px;
  border: none;
  outline: 0;
}

/* footer section style */
footer {
  background-color: #070211;
  padding: 120px 0;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

/* our-info section style  */
.our-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  border-bottom: 2px solid #ffffff63;
  margin-bottom: 48px;
}
.our-info .location address > p {
  margin-bottom: 18px;
}
.our-info .contact .method {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.our-info .contact .method .icon img,
.social-icons .icon img {
  width: 100%;
}

/* social-icons section styles */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-bottom: 50px;
  border-bottom: 2px solid #ffffff63;
  margin-bottom: 48px;
}

/* disclaimer section style  */
.disclaimer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disclaimer .unscribe-text p a {
  color: #fff;
}
